<!-- C:\Users\danda\OneDrive\Documents\Desktop\GIT-online\restaurant-ordering - Copy\views\dishes.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table <%= tableNumber %> - Select Dishes</title>
    <style>
        .card {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 10px;
            width: 150px;
            height:180px;
            margin-left:3rem;

        }
        .card img {
            max-width: 100%;
            height: auto;
        }
        .xc{
	font-family: "DM Sans", sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	letter-spacing: 4.8px;
	line-height: 29.6px;
	text-decoration: none solid rgb(228, 197, 144);
	text-align: center;

	color: rgb(228, 197, 144);
}
    </style>
</head>
<body style="background-color: black;">
    <h1 class="xc">Select Dishes for Table <%= tableNumber %></h1>


    <form action="/order" method="post">
        <input type="hidden" name="tableNumber" value="<%= tableNumber %>">
    <div class="container" style="display:flex;  color: aliceblue; ">
        <div class="card">
            <label for="pizza">
                <img src="../public/images/pizza.jpg" alt="Pizza">
                <br>
                <input type="checkbox" id="pizza" name="selectedDishes" value="Pizza"> Pizza
            </label>
        </div>

        <div class="card">
            <label for="biryani">
                <img src="../public/images/biryani.jpg" alt="Biryani">
                <br>
                <input type="checkbox" id="biryani" name="selectedDishes" value="Biryani"> Biryani
            </label>
        </div>

        <div class="card">
            <label for="aluParota">
                <img src="../public/images/alu-parota.jpg" alt="Alu Parota">
                <br>
                <input type="checkbox" id="aluParota" name="selectedDishes" value="Alu Parota"> Alu Parota
            </label>
        </div>
         
   
        <div class="card">
            <label for="daal">
                <img src="../public/images/dal-rice.jpg" alt="Daal">
                <br>
                <input type="checkbox" id="daal" name="selectedDishes" value="Daal"> Daal
            </label>
        </div>

        <div class="card">
            <label for="vegFry">
                <img src="../public/images/vegfry.jpg" alt="Veg Fry">
                <br>
                <input type="checkbox" id="vegFry" name="selectedDishes" value="Veg Fry"> Veg Fry
            </label>
        </div>
    </div>
    
        <button type="submit">Place Order</button>
    </form>


</body>
</html>
