<!-- dishes.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table <%= tableNumber %> - Select Dishes</title>
</head>
<body>
    <h1>Select Dishes for Table <%= tableNumber %></h1>

    <form action="/order" method="post">
        <input type="hidden" name="tableNumber" value="<%= tableNumber %>">
        <label for="selectedDishes">Select Dishes:</label><br>
        <input type="checkbox" name="selectedDishes" value="Pizza"> Pizza<br>
        <input type="checkbox" name="selectedDishes" value="Biryani"> Biryani<br>
        <input type="checkbox" name="selectedDishes" value="Alu Parota"> Alu Parota<br>
        <input type="checkbox" name="selectedDishes" value="Daal"> Daal<br>
        <input type="checkbox" name="selectedDishes" value="Veg Fry"> Veg Fry<br><br>
        <button type="submit">Place Order</button>
    </form>
</body>
</html>
