<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My EJS Project</title>
    <style>
        /* CSS styles */
        footer {
            background-color: #333;
            color: #fff;
            padding: 5px 0;
            width: 100%;
            /* margin-top: 20px; Example margin for separation */
        }

    
        .bottom-bar {
            background-color: #222;
            text-align: center;
            padding: 10px 0;
        }


        .shine {
  position: absolute;

  transform: translate(-50%, -50%);
  padding: 12px 48px;
  color: #fff;
  background: linear-gradient(to right, #9f9f9f 0, #fff 10%, #868686 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
  
}
@-moz-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@-webkit-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@-o-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}

    </style>
</head>
<body>
   
    <footer style="width:100%;">
        <div class="bottom-bar">
            <a href="#" class="shine">© 2024 devloped by  D.Shareen and R.Tirumala</a>
        </div>

        <p style="text-align: center;"> Under the esteemed guidance of Sri K.V. Chandra Sekhar, Assistant Professor dept of CSM and CSD 
        </p>

    </footer>
    



    
</body>
</html>
<!-- <p style="text-align: center;"> Under the esteemed guidance of Sri K.V. Chandra Sekhar, Assistant Professor in the Department of Computer Science and Management (CSM) at CSD (College of Science and Department), -->
