<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Table</title>
</head>
<body>
    <h1>Select branch</h1>
    <form action="/select_table" method="post">
        <label for="branch">Enter your branch:</label>
        <input type="text" id="branch


" name="branch"  required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
